In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine('mysql://superset:superset@mysql:3306/superset')

In [3]:
df = pd.read_csv('./gc_activities_kr.csv', index_col='ACTIVITY_ID')
for col in ['UPDATE_DATE', 'CREATION_DATE', 'START_TIME_GMT']:
    df[col] = pd.to_datetime(df[col])
df.head()

,Country,ACTIVITY_TYPE_PK,ACTIVITY_TYPE,PARENT_ACTIVITY_TYPE_PK,PARENT_ACTIVITY_TYPE,EVENT_TYPE_KEY,UPDATE_DATE_MS,CREATION_DATE_MS,START_TIME_GMT_MS,DURATION,...,NORM_POWER,LEFT_BALANCE,RIGHT_BALANCE,MAX_20_MIN_POWER,APPLICATION_INSTANCE_KEY,UPDATE_DATE,CREATION_DATE,START_TIME_GMT,USER_PROFILE_PK,COUNTRY_ID
ACTIVITY_ID,,,,,,,,,,,,,,,,,,,,,
2030899128,KR,27,lap_swimming,26,swimming,uncategorized,1506862911000,1506862911000,1506875081000,40.210600,...,0,0.0,0.0,0.0,3905907036,2017-10-01 21:01:51,2017-10-01 21:01:51,2017-10-02 00:24:41,6217660,NaN
2030721115,KR,6,trail_running,1,running,uncategorized,1506859161000,1506859161000,1506874135000,49.842733,...,0,0.0,0.0,0.0,3924032150,2017-10-01 19:59:21,2017-10-01 19:59:21,2017-10-02 00:08:55,32418642,NaN
2026731326,KR,9,walking,17,all,uncategorized,1506816364000,1506816364000,1506833420000,15.534350,...,0,0.0,0.0,0.0,3948060413,2017-10-01 08:06:04,2017-10-01 08:06:04,2017-10-01 12:50:20,46969082,NaN
2031141199,KR,1,running,17,all,uncategorized,1506866054000,1506866054000,1506879354000,69.214117,...,0,0.0,0.0,0.0,3950384943,2017-10-01 21:54:14,2017-10-01 21:54:14,2017-10-02 01:35:54,63798400,NaN
2031143139,KR,2,cycling,17,all,uncategorized,1506866250000,1506866250000,1506874247000,120.529150,...,0,0.0,0.0,0.0,3954804644,2017-10-01 21:57:30,2017-10-01 21:57:30,2017-10-02 00:10:47,64164807,NaN

In [4]:
df[['START_TIME_GMT', 'ACTIVITY_TYPE', 'START_LONGITUDE', 'START_LATITUDE']] \
        .to_sql('gc_activities_kr', engine, chunksize=1000, if_exists='replace')